@import 'reset';
@import 'mixins';
@import 'variables';

* {
	box-sizing: border-box;
}
body {
	font-family: Helvetica, sans-serif;
	font-weight: $fw-regular;
}

/* ========== NAVIGATION  ========== */

.navbar {
		position: fixed;
    top: 0;
    left: 0;
		width: 340px;
		height: 100vh;
    background-color: #ffffff;		
		&__header {
			font-size: 24px;
			color: $col-dark-blue;
			font-weight: $fw-bold;
			padding: 24px 40px;
			box-shadow: inset 0px -1px 0px #EBEBEC;
		}
		&__logo {
			display: inline-block;
			width: 20px;
			height: 20px;
		}
		&__topic {
			display: inline-block;
			line-height: 32px;
			margin: 0 0 -1px 0;
		}
		& ul {
			list-style-type: none;
			padding: 0 24px;
			margin: 0 0;
			height: calc(100vh - 79px);
			overflow: scroll;
			overflow-x: hidden;
			border-right: 1px solid #EBEBEC;
			z-index: 5;
		}
		&__link {
			display: block;
			width: 272px;
			text-decoration: none;
			font-weight: 400;
			font-size: 16px;
			line-height: 46px;
			padding-left: 16px;			
			color: $col-dark-blue;
			&:hover{
				border-radius: 8px;
				background-color: $col-light-blue;
				font-weight: $fw-bold;
				color: $col-blue;
			}
			&_s {
				font-weight: $fw-bold;
				font-size: 14px;
				color: $col-light-gray;
				border-top: 1px solid #EBEBEC;
				&:hover{
					border-style: none;
				}
			}
			&_f {
				border-style: none;
			}
		}
}
@media (max-width: 750px) {
	.navbar {
		width: 100vw;
    height: 300px;
		position: static;
		& ul {
			height: 221px;
		}
		&__link {
			width: 92vw;
		}
	}
}

/* ========== / NAVIGATION  ========== */
/* ========== CONTENT  ========== */

.main-doc {
	position: absolute;
	margin: 0 0 0 340px;
	padding: 80px 50px 0 50px;
		&__header {
			font-weight: $fw-bold;
			font-size: 32px;
			line-height: 40px;
			color: $col-dark-blue;
		}
		&__p {
			font-size: 16px;
			line-height: 24px;
			color: $col-dark-grey;
			padding: 0 0 0 15px;
		}
		&__code {
			display: block;
			background-color: $col-light-blue;
			border-radius: 8px;
			padding: 12px;
			margin: 10px 0 10px 10px;
			word-wrap: break-word;
		}
		&__list {
			font-size: 16px;
			line-height: 24px;
			color: $col-dark-grey;
			& li {
				padding: 10px 0;
			}
			& > li {			
				& > p {
					margin: 5px 0;
				}
			}
		}
}
#Data_types > article > ul > li {
	padding: 0 0;
}
@media (max-width: 750px) {
	.main-doc {
		margin: 0 0 0 0;
		position: initial;
		padding: 40px 25px 0 25px;
	}
}
/* ========== / CONTENT  ========== */



















